.route--active {
  font-weight: bold;
  text-decoration: underline;
}


.nav-link {
	font-family: 'Fira Sans', sans-serif;
}

.nav-brand {
	font-family: 'Fira Sans', sans-serif;
}

.nav-custom{
  display: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}