

.about-content {
	background-color: #fff;
	color: #111

}
.about_container {
	height: calc(100vh - 55px);
	height: -webkit-calc(100vh - 55px);
    height:    -moz-calc(100vh - 55px);
}

.img-right {
  float: right;
  padding: 10px;
}

.img-left {
  float: left;
  padding: 10px;
}