
.main-content {
	font-family: 'Fira Sans', serif;
	font-weight:100;
	font-size: 1em;
	color: #fff;
}

.paddedDiv{
	padding: 20px;
}
.view {
  background: url('../assets/statue_of_liberty.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hm-black-strong .full-bg-img, .hm-black-strong .mask {
  background-color: rgba(0,0,0,0.5);
}
.view {
  min-height: 100vh;
  margin-top: -55px
}

.view {
  overflow: hidden;
  position: relative;
  cursor: default;
}

.brand-header{
	color: #fff;
	font-size: 4em;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
}

.studiesContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.studiesDiv{
		flex-basis: 25%;
		padding: 5px;
}

.studiesbutton{
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	text-align: center;
	padding: 5px;
	min-height: 110px;
	border: 2px solid #0275d8;
	border-radius: 2px;
	color: #efefef;
	background-color: #0275d8; //#efefef;
	// -webkit-box-shadow: 7px 7px 25px -11px rgba(0,0,0,0.75);
	// -moz-box-shadow: 7px 7px 25px -11px rgba(0,0,0,0.75);
	// box-shadow: 7px 7px 25px -11px rgba(0,0,0,0.75);
}

.studiesbutton:hover{
	background-color: #014c8c;
}

.studiesContent{
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	color: #efefef;
	font-size: 1em;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
}
